.cart{
    margin-top: 68px;
    padding: 20px;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cartline{
    text-align: center;
    color: rgb(234, 55, 55);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}